<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Page</title>
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/navbar.css">
    <style>
        .about {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #212121;
            color: #ffffff;
            line-height: 1.6;
            padding: 20px;
            margin: 0;
        }

        .team-section, .faq-section {
            max-width: 1200px;
            margin: 0 auto 40px;
        }

        .team-section h1, .faq-section h2 {
            text-align: center;
            font-size: 32px;
            margin-bottom: 20px;
        }

        .team-section p, .faq-section p {
            text-align: center;
            max-width: 800px;
            margin: 0 auto 20px;
            font-size: 16px;
        }

        .team-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
        }

        .team-member {
            background: #3B3B3B;
            border: 1px solid #212121;
            padding: 20px;
            text-align: center;
            box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
            border-radius: 8px;
        }

        .team-member img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .team-member h2 {
            margin-top: 15px;
            font-size: 18px;
        }

        .team-member p {
            font-size: 14px;
            margin: 10px 0 0;
            line-height: 1.5;
            text-align: left;
            padding: 0 5px;
        }

        .faq-section {
            padding: 20px;
        }

        .faq-container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1200px;
            width: 100%;
        }

        .faq-text, .faq-list {
            flex: 1;
            margin: 1rem;
        }

        .faq-text h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
            text-align: left;
        }

        .faq-text p {
            margin-bottom: 2rem;
            text-align: left;

        }

        .faq-text button {
            background-color: white;
            color: black;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
        }

        .faq-list {
            margin-left: 0;
        }

        .faq-item {
            background-color: #333;
            margin-bottom: 0.5rem;
            border-radius: 8px;
            overflow: hidden;
        }

        .faq-item-header {
            padding: 1rem;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .faq-item-header h3 {
            margin: 0;
            font-size: 1rem;
        }

        .faq-item-header.active h3 {
            color: #f4af1b;
        }

        .faq-item-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            background-color: #444;
        }

        .faq-item-content p {
            padding: 1rem;
            margin: 0;
        }

        .faq-item-header.active + .faq-item-content {
            max-height: 200px;
        }

        .icon {
            font-size: 1.5rem;
        }

        .icon.open {
            transform: rotate(45deg);
        }

        @media (max-width: 768px) {
            .team-grid {
                grid-template-columns: 1fr;
            }
            .faq-container {
                flex-direction: column;
            }
            .faq-text, .faq-list {
                flex: none;
                width: 100%;
            }
            .faq-text h2 {
                font-size: 1.5rem;
            }
            .faq-text p {
                font-size: 0.9rem;
            }
            .faq-text button {
                font-size: 0.9rem;
            }
            .faq-item-header h3 {
                font-size: 0.9rem;
            }
            .icon {
                font-size: 1.2rem;
            }
        }
    </style>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-logo">
       <a href="/"> <img src="/worklogow.png" alt="" style="width: 100px;"></a>
    </div>
    <div class="navbar-center">
        <ul class="navbar-menu" id="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/career">Career</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/technology">Property</a></li>
            <li><a href="/projects">Offices</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if (loggedin) { %>
              <li class="navbar-nav-list-links butt"><a href="/dashboard" class="linkss blue">Dashboard</a></li>
              <li class="navbar-nav-list-links butt "><a href="/auth/logout" class="linkss red">Logout</a></li>
          <% } else { %>
            <li class="navbar-nav-list-links butt"><a href="/auth/login" class="linkss blue">Login</a></li>
          <% } %>
        </ul>
    </div>
    <div class="navbar-contact" id="navbar-contact">
        <a href="tel:+18001234567">+91-xxxx-xx-xxxx</a>
    </div>
    <div class="navbar-toggle" id="navbar-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
    <section class="about">
    <div class="team-section">
        <!-- <h1>About US</h1> -->
        <h1>lorem</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit itaque aut sunt veniam, nemo cumque quas praesentium obcaecati pariatur. Asperiores hic numquam cupiditate molestiae et vero dolor culpa aliquid.</p>
        <div class="team-grid">

            <div class="team-member">
                <img src="images/p3.jfif" alt="David Lee">
                <h2>consectetur</h2>
                <p>consectetur adipisicing elit</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
            <div class="team-member">
                <img src="images/p2.jfif" alt="Sarah Johnson">
                <h2>consectetur</h2>
                <p>consectetur adipisicing elit</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
            <div class="team-member">
                <img src="images/p4.jfif" alt="Emily Davis">
                <h2>consectetur</h2>
                <p>consectetur adipisicing elit</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>            
            </div>
            <div class="team-member">
                <img src="images/p5.jfif" alt="Michael Robinson">
                <h2>consectetur</h2>
                <p>consectetur adipisicing elit</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>           
            </div>
            <div class="team-member">
                <img src="images/p1.jfif" alt="John Smith">
                <h2>consectetur</h2>
                <p>consectetur adipisicing elit</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>   
            <div class="team-member">
                <img src="images/p6.jfif" alt="Linda Martinez">
                <h2>consectetur</h2>
                <p>consectetur adipisicing elit</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
        </div>
    </div>


    <div class="team-section">
        <h1>lorem</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
        <div class="team-grid">
            <div class="team-member">
                <h2>lorem</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
            <div class="team-member">
                <h2>lorem</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
        </div>
    </div>


    <div class="team-section">
        <h1>lorem dollar ?</h1>
        <div class="team-grid">
            <div class="team-member">
                <h2>consectetur</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
            <div class="team-member">
                <h2>consectetur</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
            <div class="team-member">
                <h2>consectetur</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
            <div class="team-member">
                <h2>consectetur</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
            <div class="team-member">
                <h2>consectetur</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, impedit? Unde quibusdam error, voluptates blanditiis eum magni neque reiciendis nulla doloremque nobis, illo, quidem velit nostrum? Recusandae tenetur quidem enim!</p>
            </div>
        </div>
    </div>

    <div class="faq-section">
        <div class="faq-container">
            <div class="faq-text">
                <h2>Lorem ipsum dolor sit amet consectetu?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
                <button>button</button>
            </div>
            <div class="faq-list">
                <div class="faq-item">
                    <div class="faq-item-header">
                        <h3>Lorem ipsum dolor sit amet?</h3>
                        <span class="icon">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-header">
                        <h3>Lorem ipsum dolor sit amet?</h3>
                        <span class="icon">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>lorem Content goes here...</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-header">
                        <h3>Lorem ipsum dolor sit amet?</h3>
                        <span class="icon">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>lorem Content goes here...</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-header">
                        <h3>Lorem ipsum dolor sit amet?</h3>
                        <span class="icon">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>lorem Content goes here...</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-header">
                        <h3>Lorem ipsum dolor sit amet?</h3>
                        <span class="icon">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>lorem Content goes here...</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-header">
                        <h3>Lorem ipsum dolor sit amet?</h3>
                        <span class="icon">+</span>
                    </div>
                    <div class="faq-item-content">
                        <p>lorem Content goes here...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <script>
        document.querySelectorAll('.faq-item-header').forEach(item => {
            item.addEventListener('click', () => {
                item.classList.toggle('active');
                const content = item.nextElementSibling;
                if (item.classList.contains('active')) {
                    content.style.maxHeight = content.scrollHeight + 'px';
                    item.querySelector('.icon').textContent = '-';
                } else {
                    content.style.maxHeight = '0';
                    item.querySelector('.icon').textContent = '+';
                }
            });
        });
    </script>
</body>
<footer class="footerccc">
    <div class="footer-containerccc">
      <div class="footer-sectionccc">
        <a href="/index.html">
            <a href="/index.html"><img src="images/worklogow.png" alt="" class="footer-logoccc"></a>
        </a>
        <ul>
            <li style="color: #D89B1C;">+91-xxxx-xx-xxxx</li>
            <li style="color: #D89B1C;">contact@domainname.com</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sit neque at ut aspernatur, architecto dignissimos debitis aperiam aliquid </li>
          </ul>
    </div>
    <div class="footer-sectionccc">
        <h4>Quick Links</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/terms&condition">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="footer-sectionccc">
        <h4>Discover</h4>
        <ul>
          <li><a href="#">lorem5</a></li>
          <li><a href="#">lorem6</a></li>
          <li><a href="#">lorem7</a></li>
        </ul>
      </div>
      <div class="footer-sectionccc">
        <h4>ipsum dolor sit amet consectetur adipisicing elit</h4>
        <p>ipsum dolor sit amet consectetur adipisicing elit</p>
        <form>
          <div class="subscribe-container">
            <input type="email" placeholder="ipsum dolor sit amet" class="email-input">
            <button class="subscribe-button">button</button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-bottomccc">
      <p>&copy; 2024 DESIGN BY TECHTASA</p>
      <div class="social-iconsccc">
        <a href="https://www.facebook.com/people/Workaholik/61559107912792/?mibextid=LQQJ4d"><img src="images/fb.png" alt="Facebook"></a>
        <a href=""><img src="images/IG.png" alt="Instagram"></a>
        <a href=""><img src="images/tw.png" alt="Twitter"></a>
      </div>
    </div>
  </footer>
  <script src="/justnavbar/script.js"></script>
  <script src="/menu.js"></script>
</html>
