/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
.hero {
    background-image: url('images/homepage.jfif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
}

.hero-content h1 {
    margin: 0;
    font-size: 2em;
}

.search-bar {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-input {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    min-width: 200px;
    margin: 5px;
    background: white;
    border-radius: 5px;
    padding: 10px;
}

.search-input input {
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
}

.search-input i {
    color: #ff6347;
}

.search-bar button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: #ff6347;
    color: white;
    cursor: pointer;
}

.trusted {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.trusted p {
    margin: 0;
    font-size: 1.2em;
}

.companies {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.companies img {
    height: 40px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .contact-info {
        display: none;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    header {
        padding: 10px 20px;
        background: transparent; /* Make the background transparent */
    }
}

@media (max-width: 1024px) {
    .hero-content h1 {
        font-size: 2.5em;
    }

    header {
        padding: 10px 30px;
    }
}

/* Hamburger Animation */
.hamburger.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* *********************property section************************** */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #111;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    flex: 1;
}

.header-text h2 {
    color: #FFD700;
}

.header-text p {
    max-width: 600px;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-buttons button,
.filter-buttons select {
    background: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.filter-buttons select {
    padding: 10px 15px;
}

.slider {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 -10px;
}

.slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.card {
    background: #333;
    border-radius: 10px;
    width: 22%;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3,
.card p,
.card .details {
    margin: 10px 0;
}

.price-tag {
    background: #FFD700;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .card {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }

    .slide-track {
        animation: scroll-mobile 60s linear infinite;
    }

    @keyframes scroll-mobile {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}
/* ********************************************* */

.body1 {
    font-family: 'Poppins', sans-serif;
    background-color: #2E2E2E;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 40px; */
    max-width: 1200px;
    width: 100%;
}

.section .text, .section .image {
    flex: 1;
    padding: 20px;
}

.section .text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.section .text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.section .text a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

.section .image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.reverse {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
        padding: 20px;
    }
    .reverse {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .section .text h2 {
        font-size: 1.5rem;
    }

    .section .text p {
        font-size: 1rem;
    }

    .section .text a {
        font-size: 1rem;
    }
}
/* ********************************************************* */

.body3 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Features Section Styles */
.features-section {
    background-color: #212121;
    color: #fff;
    padding: 40px 20px;
    width: 100%;
    /* max-width: 1200px; */
    text-align: center;
    box-sizing: border-box;
}

.features-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature-card {
    background-color: #3B3B3B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.feature-card img {
    width: 50px;
    margin-bottom: 10px;
}

.feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 1rem;
    line-height: 1.5;
}

/********************************* Hero Section Styles *************************************/
.hero-section {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('images/bigoffice.jfif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color:#212121;
    padding: 30px 40px;
    border-radius: 10px;
    color: white;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.overlay h2 {
    margin-bottom: 15px;
    font-size: 1.75rem;
    text-align: left;
}

.overlay p {
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: left;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: left;
}

.form-group input , textarea{
    flex: 1 1 calc(50% - 10px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3B3B3B;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #3B3B3B;
}

.form-group input.full-width {
    flex: 1 1 100%;
}

.submit-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}

.submit-btn {
    padding: 8px 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 0.9rem;
}

/* Responsive Styles */
@media (max-width: 900px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr;
    }

    .overlay {
        padding: 20px;
    }

    .form-group input {
        flex: 1 1 100%;
    }
}
